:root {
  --white: #ffffff;
  --blue: #117a7a;
  --pink: #b2324a;
  --white-aqua: #f6f7f9;
  --white-green: #d9d9d9;
  --black-blue: #1b1c1f;
  --blue-aqua: #1c9675;
  --black-white: #5a5a5a;
  --black-green: #767e8c;
  --sd: 16px;
  --sm: 20px;
  --lg: 40px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--black-blue);
}

.App {
  text-align: center;
}
